* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 50px;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.3);
}

header.sticky{
    background: rgba(255, 255, 255, 1);
}

header:hover{
    background: rgba(255, 255, 255, 1);
}

.logo{
    flex: 1;
}

.menu {
    flex: 3;
    display: flex;
}

.menu > li {
    padding: 0 12px;
    position: relative;
}

.menu > li:hover .sub-menu{
    visibility: visible;
    top: 30px;
}

.sub-menu{
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 50px;
    z-index: 999;
    background-color: white;
}

.sub-menu ul {
    padding-left: 20px;
}

.sub-menu li a {
    font-weight: normal;
}

.menu li a {
    font-size: 12px;
    font-weight: bold;
    display: block;
    line-height: 20px;
}

.other{
    flex: 1;
    display: flex;
    font-size: 12px;
}

.other li {
    position: relative;
}

.other li::after{
    content: " ";
    display: block;
    width: 1px;
    height: 80%;
    background: #cccccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

}

.other li:last-child::after{
    display: none;
}


.other > li {
    padding: 0 12px;
}

.other > li:first-child {
    position: relative;
}

.other > li:first-child input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    background: transparent;
}

.other > li:first-child i {
    position: absolute;
    right: 10px;
}

.other li a{
    transition: 0.3s;
}

.other li a:hover{
    color: #333;
    cursor: pointer;
}

#Slider{
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
    overflow: hidden;
}

.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
    
}

.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.dot-container{
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.dot{
    height: 15px;
    width: 15px;
    background-color: #CCC;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.dot.active{
    background-color: #333;
}

/* --------------- app ----------------- */

.app-container {
    text-align: center;
    align-items: center;
    padding: 150px 0 50px 0;
}

.app-google{
    margin: 50px;
}

.app-google img {
    height: 50px;
    cursor: pointer;
}

.app-container p{
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 17px;
    color: #000;
    font-weight: bold;
}

.app-container input {
    margin-top: 50px;
    border:none;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    width: 400px;
    text-align: center;
    outline: none;
}

/* --------- Footer ---------- */
footer{
    text-align: center;
}

.footer-top{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
}

.footer-top img{
    height: 50px;
}

.footer-top li {
    padding: 0 12px;
    position: relative;
}

.footer-top li::after {
    content: " ";
    display: block;
    width: 1px;
    height: 80%;
    background: #cccccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer-top li:last-child::after{
    display: none;
}

.footer-top li:last-child a{
    margin-right: 12px;
    color: #333;
    transition: 0.5s;
}

.footer-top li:last-child a:hover{
    cursor: pointer;
    color: #000;
}

.text-bottom{
    text-align: center;
    font-size: 11px;
}

.text-bottom span {
    font-weight: bold;
}

.footer-bottom p{
    margin-top: 10px;
    background: #f8f8f8;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 11px;
}
/* Category */

#category{
    padding: 100px 0 0;
}

.category-top{
    display: flex;
    padding-left: 45px;
    margin-bottom: 50px;
}

.category-top p{
    padding-right: 5px;
    font-size: 11px;
    color: #999;
}

.category-top p:hover{
    cursor: pointer;
    color: #000;
}

.category-top span{
    padding-right: 8px;
    font-size: 11px;
    color: #999;
}

.category-left {
    width: 20%;
}

.category-right{
    width: 80%;
}

.category-right-top-item:first-child{
    flex: 2;
    font-size: 16px;
    font-weight: bold;
}

.category-right-top-item{
    flex: 1;
    padding: 0 12px;
}

.category-right-top-item button{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ddd;
}

.category-right-top-item select{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ddd;
}

.category-right-content {
    margin-top: 20px;
    justify-content: space-between;
}

.category-right-content-item{
    width: calc(25% - 12px);
    text-align: center;
    padding: 12px 0;
}

.category-right-content-item h1{
    font-size: 11px;
    margin-top: 6px;
    color: #333333;
}

.category-right-content-item img {
    width: 100%;
}

.category-right-content-item p {
    font-size: 12px;
}

.category-right-bottom{
    display: flex;
    justify-content: space-between;
    margin: 30px 0 20px;
    width: 100%;
}

.category-right-bottom p {
    font-size: 11px;
}

.category-left ul li {
    padding: 12px 0;
}

.category-left ul li>a {
    font-size: 13px;
    font-weight: bold;
}

.category-left ul li ul li {
    padding-left: 10px;
}

.category-left-li ul{
    display: none;
}

.category-left-li.block ul {
    display: block;
}

.category-left ul li ul li a {
    color: #333333;
    font-size: 12px;
}
